<style>

html body {background-color:#fff; font-family: Constantia, serif; width:700px; margin-left: auto; margin-right: auto;}

/*background-image: url(https://www.dropbox.com/s/el8oovrohobzvkd/paper.jpg?dl=1)*/

.adm {background-color:#ffacd4;border:0px solid #a84d4d;padding:4px;border-radius:0px;}

.prv {background-color:#dedede;color: #575757; padding: 8px;margin-bottom:16px; font-size: 14px;}

.sc {font-variant: small-caps; font-size: 125%}

.cmt {font-size: 70%; color: #666;}

.caption {font-style:italic;margin-top:1em; margin-bottom:32px;border-style:none none solid none; border-color: #ccc;border-width:1px; padding:4px;}

.figure {margin-left: auto;margin-right: auto;}

h3 {font-size: 1.2em;}

code{background-color: #ececec}

figure {margin-top: 2em; text-align: center;}

img {border-style:solid solid solid solid; border-color: #ccc;border-width:1px; }

figure figcaption {font-style:italic;margin-top:1em; margin-bottom:32px;border-style:none none solid none; border-color: #ccc;border-width:1px; padding:4px;}

table caption {font-style:italic;margin-top:1em; margin-bottom:8px;border-style:solid none none none; border-color: #ccc;border-width:1px; padding:4px;}

/*booktable*/

table {
  padding: 0;border-collapse: collapse; margin-left:auto;margin-right:auto;}

table thead {border-bottom: 2px solid #666;border-top: 2px solid #666;}

table tr {
border-top: 0px solid #333;
    background-color: white;
    margin: 0;
    padding: 0; }

table tr:nth-child(2n) {
      background-color: #fafafa; }

table tr th {
      font-weight: bold;
      border-top: 2px solid #666;
      border-bottom: 1px solid #666;
      margin: 0;
      padding: 6px 13px; }

table tr td {
      border: 0px solid #fff;
      margin: 0;
      padding: 6px 13px; }

table tr th :first-child, table tr td :first-child {
      margin-top: 0; border-top: 0px solid #ffcccc;}

table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

tbody tr:last-of-type{border-bottom: 2px solid #666;}

</style>
